<section id="categories">
    <h2>
        {% case site.language %}
            {% when "it" %}
                Categorie
            {% else %}
                Categories
        {% endcase %}
    </h2>
    <div class="flex flex-wrap content-stretch">
        <div class="col-6">Hamburger</div>
        <div class="col-6">Hamburger</div>
        <div class="col-6">Hamburger</div>
        <div class="col-6">Hamburger</div>
    </div>
    <ul>
        <li>
            <a href="{{ "/category/programming" | relative_url }}">Programming</a>
        </li>
    </ul>
</section>