<section class="stats">
    <div class="flex justify-around border">

        <aside>
            <div class="editors">
                <h3 class="stat">
                    91,929<br> Editors <!--%-->
                </h3>
                <i class="fa fa-user"></i>
            </div>
        </aside>

        <aside> <div class="categories">
            <h3 class="stat">
                1,031,722<br> Categories
            </h3>
            <i class="fa fa-folder-o"></i>
        </div>
        </aside>

        <aside>
            <div class="sites">
                <h3 class="stat">
                    3,861,202<br> Sites
                </h3>
                <i class="fa fa-file-text-o"></i>
            </div>
        </aside>

        <aside>
            <div class="languages">
                <h3 class="stat">
                    90<br> Languages
                </h3>
                <i class="fa fa-comment"></i>
            </div>
        </aside>

    </div>

</section>
